# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/build
backend/venv

# testing
/coverage

# production
/build

# misc
.vscode/*
.env_local
.env
__pycache__/

npm-debug.log*

*.pyc

venv/
venvwsl/

backend/pretrained_models/