/* Page defaults */
body {
    background: linear-gradient(109.6deg,  rgba(125,89,252,1) 21.2%, 70%, rgba(218,185,252,1) 91.1%) fixed;
    font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}


form {
    margin-top: 16px;
    margin-bottom:24px;
}

p {
    margin-bottom: 0rem;
}

/* Header */
.header {
    color: white;
    padding-left: 5%;
    padding-top: 14px;
    padding-bottom: 4px;
    font-size: 20px;
}

.btn {
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    padding: 0 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #5ebf8e;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: white;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

.btn:hover {
    transform: translateY(-2px) rotate3d(0.5,1,2,-2deg);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    color: white;
}

.custom-file {
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    margin-bottom: 30px;
}


.custom-file:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.help {
    margin-top: 8px;
    color: rgba(220,220,220);
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
    color: white;
}

.results {
    display: none;
    margin-top: 60px;
}

.error {
    display: none;
}

.list-item {
    min-width: 220px;
    position: relative;
    background: hsl(210, 9%, 96%);
    border-radius: 6px;
    padding: 10px;
    margin: 8px;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

.list-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.download {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 600;
    position: absolute;
    right: 30px;
    bottom: 10px;
}

a:link{
    text-decoration: none!important;
  }

h5 {
    color: rgb(40, 20, 80);
}

/* Loader */
.loading {
    display: none;
    cursor: wait;
}

.rotate {
    padding: 4px;
    border-radius: 12px;
    position: relative;
    animation: rotation 4s infinite linear alternate;
    background: rgba(255,255,255,0.8)
}

@keyframes rotation {
    0% {
      transform: rotate(0deg); left: 0px; top: 0px;
    }
    25% {
      transform: rotate(90deg); left:200px; top:30px;
    }
    50% {
      transform: rotate(180deg); left:100px; top:150px;
    }
    75% {
      transform: rotate(-90deg); left:0px; top:75px;
    }
    100% {
      transform: rotate(15deg); left:200px; top:0px
    }
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
}