.App {
  text-align: center;
}

.App-logo {
  height: 50px;
}

.App-header {
  background-color: #F0F0F0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.Top-color-line {
  height: 6px;
  width: 100%;
  background-color: #2b1a7a;
  position: fixed;
  z-index: 100;
  box-shadow: 0 4px 2px -2px rgba(9,21,17,0.2);
  animation:colorFade 6s;
  -moz-animation:colorFade 6s infinite; /* Firefox */
  -webkit-animation:colorFade 6s infinite; /* Safari and Chrome */
}

@keyframes colorFade {
  0% {background-color: #bd3b9c;}
  50%  {background-color: #2b1a7a;}
  100% {background-color: #bd3b9c;}
}