{% extends "_base.html" %}
{% set active_page = "example" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='example.css')}}">
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='example.js')}}" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div id="example" style="margin-top: 20%">
    <div class="row" style="margin: 30px 0">
        <div class="col-sm-10">
            <div id="waveform">
                <!-- waveform go here-->
            </div>
        </div>
        

        <div class="col-sm-2">
            <button class="btn btn-block" id="playPause">
                <span id="play">
                    <i class="glyphicon glyphicon-play"></i>
                    Play
                </span>

                <span id="pause" style="display: none">
                    <i class="glyphicon glyphicon-pause"></i>
                    Pause
                </span>
            </button>
        </div>
    </div>

    <div class="list-group" id="playlist">
        <h4 style="color: #eee; margin: 20px 0">Check out a few samples</h4>
    
        <a href="static/15steps.mp3" class="list-group-item">
            <i class="glyphicon glyphicon-play"></i>
            Radiohead - 15 steps [ORIGINAL]
            <span class="badge badge-light duration">0:20</span>
        </a>

        <a href="static/15steps_drums.wav" class="list-group-item">
            <i class="far fa-play-circle"></i>
            Radiohead - 15 steps [DRUMS]
            <span class="badge badge-light duration">0:20</span>
        </a>
        
        <a href="static/blurred_lines.mp3" class="list-group-item">
            <i class="glyphicon glyphicon-play"></i>
            Robin Thicke - Blurred Lines [ORIGINAL]
            <span class="badge badge-light duration">0:20</span>
        </a>
        
        <a href="static/blurred_lines_drums.wav" class="list-group-item">
            <i class="glyphicon glyphicon-play"></i>
            Robin Thicke - Blurred Lines [DRUMS]
            <span class="badge badge-light duration">0:20</span>
        </a>
        
        <a href="static/higher_ground.mp3" class="list-group-item">
            <i class="glyphicon glyphicon-play"></i>
           Stevie Wonder - Higher Ground [ORIGINAL]
            <span class="badge badge-light duration">0:20</span>
        </a>
        
        <a href="static/higher_ground_drums.wav" class="list-group-item">
            <i class="glyphicon glyphicon-play"></i>
           Stevie Wonder - Higher Ground [DRUMS]
            <span class="badge badge-light duration">0:20</span>
        </a>
    </div>
</div>

{% endblock %}