{% extends "_base.html" %}

{% block content %}

<div class="content">
    <div class="upload">
        <h2>Break up the drums from a song file</h2>
        <form role="form">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label> 
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Enter email">
                <small class="form-text help">We'll never share your email with anyone else.</small>
            </div>
            <div class="process">
                <button id="break-up-btn" type="button" class="btn submit">BREAK UP</button>
            </div>
        </form>
    </div>

    <div class="loading mx-auto" style="width: 300px">
        <p>This will take a moment, be patient!</p>
        <img class="rotate" src="/static/drum-set.png" />
        <span class="sr-only">Loading...</span>
    </div>
    <div class="error" ></div>
    <div class="results">
        <p>Success! Here are your tracks</p>
        <div class="row">
            <div class="col-md-5">
                <a class="drum-link" href="">
                <div class="list-item">
                    <h5>Just the drums</h5>
                    <img src="/static/drum-set.png" />
                    <span class="download">Download</span>
                </div>
                </a>
            </div>
            <div class="col-md-5">
                <a class="audio-link" href="">
                <div class="list-item">
                    <h5>Drumless track</h5>
                    <img src="/static/drum-set.png" />
                    <span class="download">Download</span>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}