{% extends "_base.html" %}

{% block content %}

<div class="content">
    <div class="upload">
    <h2>Select audio track</h2>
    <form method=post enctype=multipart/form-data action="/process">
        <div class="custom-file">
            <input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
        <div class="process">
            <button type="submit" class="btn" onclick="loading();">PROCESS</button>
        </div>
    </form>
    </div>

    <div class="mx-auto" style="width: 200px">
        <img class="rotate" src="/static/drum-set.png" />
        <span class="sr-only">Loading...</span>
    </div>
    {% if success %}
    <div id="results">
        <h3>Success!</h3>
        <a href="{{ drum_link }}">{{ drum_link }}</a>
    </div>
    {% endif %}
</div>

{% endblock %}